<html>
    <head>
        <title>Breking NEWS </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head> 
    <body>
    
        <div class="row">
    
            <nav class="navbar navbar-expand-lg navbar-light">
            
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        
                        <a class="nav-item nav-link" href="admin">Go to Admin panel</a>
                    </div>
                </div>
            </nav>
        </div>

        <hr>    
        
        <div class="row">

            <div class="list-group list-group-flush">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for url in urls %}
                        <tr>
                            <th scope="row">{{ url.id }}</th>
                            <td>{{ url.title }}</td>
                            <td>Author</td>
                            <td>Date</td>
                        </tr>
                    {% endfor %}   
                </tbody>
            </table> 
           
            </div>
        </div>
        <div class="row">
            
        </div>

    </body>
</html>