<html>
    <head>
        <title>Breking NEWS </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head> 
    <body>
    
        <div class="row">
    
            <nav class="navbar navbar-expand-lg navbar-light">
            
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        
                        <a class="nav-item nav-link" href="admin">Go to Admin panel</a>
                    </div>
                </div>
            </nav>
        </div>

        <hr>    
        
        <div class="row">
            <ul class="list-group">

            {% for url in urls %}
                {% if loop.last %}
                    <li class="list-group-item"><a href=" {{ url.id }}"><p class="text-danger">LAST NEWS: {{ url.title }}</p></a></li>
                    
                {% else %}
                    <li class="list-group-item"><a href=" {{ url.id }}">{{ url.title }}</a><br></li>
                {% endif%}
                <br>
            {% endfor %}
            </ul>
        </div>
        <div class="row">
            
        </div>

    </body>
</html>