<html>
    <head>
        <title> {{ title }} </title>
    </head>
    <body>
        <div>
            <a href="admin_panel">Back to home page</a>
        </div>

        <div>
            <p>{{ title }}</p>
            <hr>
            <p>{{ body }}</p>
        </div>
    </body>
</html>