<html>
    <head>
        <title> {{ title }} </title>
    </head>
    <body>
        <div>
            
            <a href="admin_panel">Back to home</a>
        </div>

        <div>
            <p>{{ body }}</p>
        </div>
    </body>
</html>